
  <div id="quick">
    <div class="box1"><h3>ABOUT VILLAGE</h3><br>The village life is full of contentment and happiness, as people are not in a hurry like in city life.


      Village people live a very simple life. Villages are mostly situated far from the hustle and bustle of urban civilization. The beauty of nature
      can be experienced in a village as it is surrounded by trees, flowers, mountains, streams, and farmlands. There is no pollution in the village 
      and one can feel the freshness in the breeze. The demands of the villagers are not too high but they are still deprived of basic facilities. Clean
      drinking water, electricity, health center, schools, proper sanitation are a few facilities that are lacking in the villages.<button id="read_more_btn">Read More...</button>
    </div>
   
    <div class="box2">
        <ul>
          <li>WHATS NEW</li>
          <li>NOTES</li>
          <li>TENDER</li>
          <li>RECRUITMENT</li>
         </ul>
     <div class="notice"></div>
    </div>

    <div id="box3">
     <div class="pic"></div>
     <p>पिंकी राय( मुखिया संध अध्यक्ष)</p>
     </div> 
   </div>

  <div id="quick1">
      <div class="p1">p1</div>
      <div class="p2">p2</div>
      <div class="p3">INFORMATION</div>
      <div class="p4">GUIDE<div id="location">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28757.88376139222!2d85.24262134696045!3d25.71318106208734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39ed5d905b051367%3A0xea042123e363b812!2sBishunpur%20Basant%2C%20Bihar!5e0!3m2!1sen!2sin!4v1668839045683!5m2!1sen!2sin" width="200" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div></div></div>
<div id="services">
  <div id="hello">
      <div id="service_title">
      <span>FIND SERVICES</span>
      </div>
       <div class="small_boxes"></div>
       <div class="small_boxes"></div>
       <div class="small_boxes"></div>
       <div class="small_boxes"></div>
       <div class="small_boxes"></div>
       <div class="small_boxes"></div>
      </div>
         
      <div id="utility_box">
        <div id="public_utility">
          <span>PUBLIC UTILITY</span>
        </div>
        <div class="utility_name">
          <ul>
            <li>SCHOOLS<hr class="h1"></li>
            <li>HOSPITAL<hr></li>
            <li>BANKS<hr></li>
            <li>PANCHAYATS<hr></li>
          
            </ul>
           </div>
           <div class="utility_names">
            <ul>
              <li>VILLEGES</li>
              <li>VACCANCY</li>
              <li>WARDS</li>
              <li>AANGANWADIS</li>
            </ul>
           </div></div>
      </div>
    