
 <html lang="en">
    <head>
      <meta charset="UTF-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <title>Dropdown Menu</title>
    </head>
     <body>
      <div class="header1">
        <div class="link"><i class="fa-solid fa-droplet"></i></div>
        <div class="link1">skip to main content</div>
        <div class="link"><i class="fa-solid fa-magnifying-glass"></i></div>
        <div class="link"><i class="fa-brands fa-square-twitter"></i></div>
        <div class="link"><i class="fa-brands fa-facebook"></i></div>
        <div class="link"><i class="fa-solid fa-sitemap"></i></div>
        <div class="link"><i class="fa-brands fa-accessible-icon"></i></div>
        <div class="link"><i class="fa-solid fa-language"></i></div>
        
    </div>

     <div id="linkbox">
        </div>
  
      <div id="header">
         <div class="logo_img_1">
            <img src="assets/logo1.png">
          </div>
         <div id="logo_title">
          बिशुनपुर बसंत उर्फ ​​सुभई
           </div>
           <div class="logo_img_2">
            <img src="assets/logo4.png" width="90%" height="90%">
           </div>
      </div>
        
       
      <div id="menu">
        <ul>            
          <li routerLink="/#"><h6>Home</h6></li>
          <li routerLink="/#"><h6>About</h6></li>
          <li routerLink="/#"><h6>Gallery</h6></li>
            <li routerLink="/#"><h6>Contact</h6></li>
            <li routerLink="/#"><h6>Scheme</h6></li>
            <li routerLink="/#"><h6>Yojna</h6></li>
        </ul>
        
      </div> 
    </body>
      </html>
      