<div id="animation">
    <ngb-carousel *ngIf="images">
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/img1.jpg">
        </div>
        <div class="carousel-caption">
         
          
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/img2.jpg">
        </div>
        <div class="carousel-caption">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/img3.jpg">
        </div>
        <div class="carousel-caption">
          
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/img4.jpg">
        </div>
        <div class="carousel-caption">
         
         
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/img5.jpg">
        </div>
        <div class="carousel-caption">
     
         
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/img6.jpg">
        </div>
        <div class="carousel-caption">
        
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/img7.jpg">
        </div>
        <div class="carousel-caption">
         
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/img8.jpg">
        </div>
        <div class="carousel-caption">
         
          
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/img9.jpg">
        </div>
        <div class="carousel-caption">
         
          
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/img10.jpg">
        </div>
        <div class="carousel-caption">
         
          
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/img11.jpg">
        </div>
        <div class="carousel-caption">
         
          
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/img12.jpg">
        </div>
        <div class="carousel-caption">
         
          
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/img13.jpg">
        </div>
        <div class="carousel-caption">
         
          
        </div>
      </ng-template>
    </ngb-carousel>
  </div>